.formContact{
    padding: 30px;
}

.formContact__submit{
    background-color: black;
    border:none;
    outline: none;
}

.formContact__submit:hover{
    background-color: $primary;
}


.formContact__input{
    border-radius: 0px;
    color: white;
    background-color: $secondary;
}
.googlemap{
    width: 100%;

    &__text{
        font-weight: bold;
        font-size: 15px;
    }
}




.formContact__textarea{
    border-radius: 0px;
    resize: none;
    background-color: $secondary;
}
