.formContact{
    padding: 30px;

    &__submit{
        background-color: black;
        border:none;
        outline: none;

        &:hover{
            background-color: $primary;
        }
    }

    &__input{
        border-radius: 0px;
        color: white;
        background-color: $secondary;
    }

    &__textarea{
        border-radius: 0px;
        resize: none;
        background-color: $secondary;
    }

}

.googlemap{
    width: 100%;

    &__text{
        font-weight: bold;
        font-size: 15px;
    }
}
