

.footer{
    width: 100%;
    color: white;
    background-color: black;
    position: absolute;
    left: 0;
    font-family: 'Roboto Condensed', sans-serif;

    &__copy{
        background-color: rgba(0, 0, 0, 0.2);   
    }

    &__cat{
        font-size: 20px;

        &__item{
            text-decoration: none;
            color: inherit;
            transition: all 0.3s; 
    
            &:hover{
                color: $primary;
            }
        }
    }

}



$iconSocialMedia: (
    facebook: map-get($map: $redes, $key: 'facebook'),
    twitter: $primary, 
    google: map-get($map: $redes, $key: 'google'),
    instagram: map-get($map: $redes, $key: 'instagram')
);

@each $nameSocialMedia,  $colorIcon in $iconSocialMedia {
    .rs-#{$nameSocialMedia}{
        background-color: $colorIcon;
        border: none;
        color: white;

        &:hover{
            background-color: $colorIcon;
            opacity: 0.9;
        }

        &:focus{
            background-color: $colorIcon;
        }
    }

    
}


