.nav-link{
    transition: all 0.5s ease;

    &:hover{
        color: $primary;
    }
}

.formExtra{

    &__cart{
        color: white;
        margin-right:30px;
        position: relative;

    } 

    &__numProduct{
        color: $primary;
        position: absolute;
        top: -11px;
        right: -0px;
        padding: 1px 6px;
        border-radius: 50%;
        color: white;
        background-color: rgb(8, 122, 189);;
        font-weight: 700;
        font-family: system-ui;
        line-height: 18px;
         
    }


    &__input{
        border: none;
        outline: none;
        border-radius: 0px;
        padding-left: 40px;
        background-image: url(../assets/images/search.webp);
        background-repeat: no-repeat;
        background-size: 25px;
        background-position-y: center;
        background-position-x: 10px;
        background-color: $secondary; 
    }
}

.bSearch{
    color: white; 
    cursor: pointer;
    outline: none;
    transition: all 0.2s;
    margin-top: 2px;
}

.bSearch:hover{
    color: $primary
}